html,
body {
    background-color: #fffff5;
}

.wrap > .container {
    background-color: #fff9f6;
}

.container > .navbar-header {
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
    font-size: x-small;
}

.navbar .navbar-text {
    padding-top: 7px;
    padding-left: 10px;
    margin: 0;
    float: left;
}

.navbar-brand {
    background-color: rgba(105, 238, 255, 0.33);
}
