html,
body {
    background-color: #fffff5;
    /*    min-width: 320px;*/
}

.wrap > .container {
    background-color: #fff9f6;
    /*    padding-top: 10px;*/
}

.container > .navbar-header {
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
    font-size: x-small;
}

.navbar .navbar-text {
    padding-top: 7px;
    padding-left: 10px;
    margin: 0;
    float: left;
}

.navbar-brand {
    background-color: rgba(105, 238, 255, 0.33);
}


/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings', serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

img.thumbnail {
    display: inline-block;
    vertical-align: inherit;
    margin: 5px;
}

